sample2-nodered-flow.json
[{"id":"68d83d8.2ccec44","type":"template","z":"9825cb7c.95dd98","name":"写真のアップロード","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head><title>Watson Visual Recognition on Node-RED</title></head>\n<body>\n<h1>Watson Visual Recognition on Node-RED</h1>\n<h2>Select a image file</h2>\n<form  action=\"/vrimage\" method=\"post\" enctype=\"multipart/form-data\">\n    <input type=\"file\" name=\"imagedata\" accept=\"image/*\"  />\n    <input type=\"submit\" value=\"Analyze\"/>\n</form>\n</body>\n</html>","output":"str","x":352,"y":39,"wires":[["9080e661.7240e8"]]},{"id":"8bc7b27d.a70938","type":"http in","z":"9825cb7c.95dd98","name":"[GET] /vrimage","url":"/vrimage","method":"get","upload":false,"swaggerDoc":"","x":132,"y":39,"wires":[["68d83d8.2ccec44"]]},{"id":"9080e661.7240e8","type":"http response","z":"9825cb7c.95dd98","name":"http response","statusCode":"","headers":{},"x":552,"y":39,"wires":[]},{"id":"63a28ed0.bc41d8","type":"function","z":"9825cb7c.95dd98","name":"input for discovery news","func":"msg.discoveryparams = {};\nmsg.discoveryparams.query = msg.vr_result.images[0].classifiers[0].classes[0].class\nreturn msg;\n","outputs":1,"noerr":0,"x":179,"y":331,"wires":[["daeb195.8caa568"]]},{"id":"1a4c72e9.7e8945","type":"function","z":"9825cb7c.95dd98","name":"set vr_result","func":"msg.vr_result = msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":534,"y":167,"wires":[["116e0129.8a94bf","63a28ed0.bc41d8"]]},{"id":"daeb195.8caa568","type":"watson-discovery-v1","z":"9825cb7c.95dd98","name":"discovery-News","environmentname":"","environment_id":"system","collection_id":"news-en","configurationname":"","configuration_id":"","language_code":"en","collection_name":"","count":"3","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"title,url","description":"","size":0,"discovery-method":"query","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/discovery/api","x":430,"y":338,"wires":[["c0510152.f4fd"]]},{"id":"5d1e1704.940d68","type":"visual-recognition-v3","z":"9825cb7c.95dd98","name":"Visual Recognition","apikey":"__PWRD__","image-feature":"classifyImage","lang":"en","x":351,"y":166,"wires":[["1a4c72e9.7e8945"]]},{"id":"c0510152.f4fd","type":"function","z":"9825cb7c.95dd98","name":"set news_results","func":"msg.news_results = msg.search_results.results;\nreturn msg;","outputs":1,"noerr":0,"x":362,"y":407,"wires":[["cc962625.8030f","fabcab08.648f68","45758a21.f8ff54","cd109c57.c23f68"]]},{"id":"e80497f1.4c549","type":"function","z":"9825cb7c.95dd98","name":"input for vr","func":"msg.payload = msg.img.buffer;\nreturn msg;","outputs":1,"noerr":0,"x":153,"y":168,"wires":[["5d1e1704.940d68"]]},{"id":"cc962625.8030f","type":"debug","z":"9825cb7c.95dd98","name":"","active":true,"console":"false","complete":"img","x":688,"y":348,"wires":[]},{"id":"fabcab08.648f68","type":"debug","z":"9825cb7c.95dd98","name":"","active":true,"console":"false","complete":"news_results","x":716,"y":433,"wires":[]},{"id":"45758a21.f8ff54","type":"debug","z":"9825cb7c.95dd98","name":"","active":true,"console":"false","complete":"vr_result","x":705,"y":391,"wires":[]},{"id":"cd109c57.c23f68","type":"template","z":"9825cb7c.95dd98","name":"display results","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Watson Visual Recognition on Node-RED</h1>\n{{#img}}\n    {{ filename }}<br>\n    <img src=\"data:image/jpeg;base64,{{{base64img}}}\" height='200'/><br>\n{{/img}}\n{{#vr_result}}\n    {{#images}}\n        {{#classifiers}}\n        <br><b>classifier_id :</b>{{classifier_id}}<br>\n        <b>name :</b>{{name}}<br>\n        <table border='1'>\n            <thead>\n                <tr><th>class</th><th>score</th><th>type_hierarchy</th></tr>\n            </thead>\n            <tbody>\n                {{#classes}}\n                    <tr><td>{{class}}</td><td>{{score}}</td><td>{{type_hierarchy}}</td></tr>\n                {{/classes}} \n            </tbody>\n        </table>\n        {{/classifiers}}\n      {{/images}}  \n{{/vr_result}}\n<br>\n<form action=\"/vrimage\">\n<input type=\"submit\" value=\"画像アップロード画面に戻る\"/>\n</form>\n<br>\n<b>関連ニュース</b>\n<br>\n{{#news_results}}\n    <a href=\"{{url}}\"target=_blank>{{title}}</a><br>\n{{/news_results}}","output":"str","x":360,"y":500,"wires":[["dea82c40.3232a8"]]},{"id":"9598e518.96aef8","type":"function","z":"9825cb7c.95dd98","name":"set base64img","func":"msg.img.base64img = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":677,"y":86,"wires":[["e80497f1.4c549"]]},{"id":"dea82c40.3232a8","type":"http response","z":"9825cb7c.95dd98","name":"http response","statusCode":"","headers":{},"x":780,"y":485,"wires":[]},{"id":"be296be1.780678","type":"base64","z":"9825cb7c.95dd98","name":"","x":499,"y":89,"wires":[["9598e518.96aef8"]]},{"id":"3c27bf50.107178","type":"function","z":"9825cb7c.95dd98","name":"get image","func":"msg.img = {};\nmsg.img.buffer =  msg.req.files[0].buffer;\nmsg.img.filename = msg.req.files[0].originalname;\nmsg.payload = msg.img.buffer;\nreturn msg;","outputs":1,"noerr":0,"x":322,"y":90,"wires":[["be296be1.780678"]]},{"id":"6f8b2ebb.4fbd38","type":"http in","z":"9825cb7c.95dd98","name":"[POST] /vrimage","url":"/vrimage","method":"post","upload":true,"swaggerDoc":"","x":136,"y":90,"wires":[["3c27bf50.107178"]]},{"id":"116e0129.8a94bf","type":"debug","z":"9825cb7c.95dd98","name":"","active":true,"console":"false","complete":"vr_result","x":767,"y":136,"wires":[]}]
